# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://your-project-id.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=your-key
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-supabase-anon-key
SUPABASE_SERVICE_ROLE_KEY=your-supabase-service-role-key

# Email Provider Configuration (e.g. Resend, Nodemailer, SendGrid)
RESEND_API_KEY=re_your_api_key_here
EMAIL_FROM=notifications@yourdomain.com

# App Configuration
NEXT_PUBLIC_APP_URL=http://localhost:3000

EMAIL_SENDER_HOST=
EMAIL_SENDER_PORT=
EMAIL_SENDER_USERNAME=
EMAIL_SENDER_PASSWORD=
